@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

:root {
  --primary: #fb8c00;
  --primary-hover: #e65100;
  --primary-hover-opacity-10: rgba(251, 140, 0, 0.1);
  --primary-hover-opacity-20: rgba(251, 140, 0, 0.2);
  --primary-hover-opacity-30: rgba(251, 140, 0, 0.3);
  --primary-hover-opacity-40: rgba(251, 140, 0, 0.4);
  --primary-hover-opacity-50: rgba(251, 140, 0, 0.5);
  --primary-hover-opacity-60: rgba(251, 140, 0, 0.6);
  --primary-hover-opacity-70: rgba(251, 140, 0, 0.7);
  --primary-hover-opacity-80: rgba(251, 140, 0, 0.8);
  --grey: #6f6f6f;
  --dark-grey: #333333;
  --body-text: #6f6f6f;

  --whatsapp-green: #25d366;
  --outlook-blue: #0078d4;
  --facebook-blue: #1877f2;
}

.instagram-text-gradient {
  background: linear-gradient(
    45deg,
    #ffdc80 0%,
    #fcaf45 10%,
    #f77737 20%,
    #f56040 30%,
    #fd1d1d 40%,
    #e1306c 50%,
    #c13584 60%,
    #833ab4 70%,
    #5851db 80%,
    #405de6 90%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-none;
}

html,
body {
  @apply bg-white;
  background-color: white;
  overflow-x: hidden;

  /* @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  } */
}

button,
a {
  outline: none !important;
}
